################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj/CI_Build/CoreCompileInputs.cache
/obj
/obj/CI_Build/CoreCompileInputs.cache
/obj
/obj
/obj
